html,
body {
  height: 100%;
}

.navbar-brand {
  font-family: 'Peralta', cursive;
}

blockquote {
  border-left: 5px solid rgba(0,0,0,.125);
  padding-left: 1.25rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push {
  height: 60px;
}

footer {
  height: 60px;
  padding: 15px 0;
  background-color: #e9ecef;
  position: relative;
}
